<h1>メモ一覧</h1>
<%= form_with model: @article do |f| %>

  <% if @article.errors.any? %>
    <div style="color: red;">
      <h3>入力に不備があります：</h3>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :content, "内容" %>
    <%= f.text_area :content %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, "カテゴリ" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください" %>
  </div>

  <div class="form-action">
    <%= f.submit "保存する" %>
  </div>
<% end %>

<% @articles.each do |article| %>
  <h2><%= link_to article.title, article_path(article.id) %></h2>
<% end %>
