<h1><%= @article.title %></h1>
<p>言語：<%= @article.category&.name %></p>
<p><%= @article.content %></p>
<div class="actions">
  <%= link_to "編集", edit_article_path(@article) %>
  <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" } %>
</div>

<div class="navigation", style="margin-top: 30px;">
  <%= link_to "戻る", root_path %>
</div>
